@import url("http://fonts.cdnfonts.com/css/sans-comic-sans");

body {
  background-color: pink;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

button {
  border-radius: 64px;
}

button:hover {
  transform: scale(1.2);
}

.avatar {
  height: 64px;
  border-radius: 64px;
  border: 3px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.canvas {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 24px;
  height: 24px;
  background-color: white;
}

#colors {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 16px;
}
